lifecyclenodes:
  gnss:
    node_name: "gnss"

  emcl:
    node_name: "emcl2"


nodes:
  - id: GNSS_ONLY
    semantic: { gnss: ACTIVE,  emcl: INACTIVE }    # ← キーは managed_nodes.yaml の key と一致
    allowed: true

  - id: EMCL_ONLY
    semantic: { gnss: INACTIVE, emcl: ACTIVE }
    allowed: true

  - id: BOTH_ACTIVE
    semantic: { gnss: ACTIVE,  emcl: ACTIVE }
    allowed: false

  - id: BOTH_INACTIVE
    semantic: { gnss: INACTIVE, emcl: INACTIVE }
    allowed: true

edges:
  - from: GNSS_ONLY
    to: EMCL_ONLY
    trantisionrecipe:
      actionsteps:
        - { target_key: "emcl", operation: "configure",  timeout_s: 5.0 }
        - { target_key: "emcl", operation: "activate",   timeout_s: 5.0 }
        - { target_key: "gnss", operation: "deactivate", timeout_s: 5.0 }

  - from: EMCL_ONLY
    to: GNSS_ONLY
    trantisionrecipe:
      actionteps:
        - { target_key: "gnss", operation: "configure",  timeout_s: 5.0 }
        - { target_key: "gnss", operation: "activate",   timeout_s: 5.0 }
        - { target_key: "emcl", operation: "deactivate", timeout_s: 5.0 }
