lifecyclenodes:
  - "gnss"
  - "emcl2"

nodes:
  - id: GNSS_ONLY
    semantic: { gnss: ACTIVE,  emcl2: INACTIVE }
    allowed: true

  - id: EMCL_ONLY
    semantic: { gnss: INACTIVE, emcl2: ACTIVE }
    allowed: true

  - id: BOTH_ACTIVE
    semantic: { gnss: ACTIVE,  emcl2: ACTIVE }
    allowed: false

  - id: BOTH_INACTIVE
    semantic: { gnss: INACTIVE, emcl2: INACTIVE }
    allowed: true

edges:
  - from: GNSS_ONLY
    to: EMCL_ONLY
    transitionrecipe:
      actionsteps:
        - { target_node_name: "emcl2", operation: "configure",  timeout_s: 5.0 }
        - { target_node_name: "emcl2", operation: "activate",   timeout_s: 5.0 }
        - { target_node_name: "gnss",  operation: "deactivate", timeout_s: 5.0 }

  - from: EMCL_ONLY
    to: GNSS_ONLY
    transitionrecipe:
      actionsteps:
        - { target_node_name: "gnss",  operation: "configure",  timeout_s: 5.0 }
        - { target_node_name: "gnss",  operation: "activate",   timeout_s: 5.0 }
        - { target_node_name: "emcl2", operation: "deactivate", timeout_s: 5.0 }
